
            
     <div id="masthead">  
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>{{title}}
                <p class="lead"></p>
              </h1>
            </div>
            <div class="col-md-5">
              <div class="well well-lg"> 
                <div class="row">
                  <div class="col-sm-12">
                    
            
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div><!-- /cont -->
        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="top-spacer"> </div>
            </div>
          </div> 
        </div><!-- /cont -->
        
      </div>
      
      
      <div class="container">
        <div class="row">
          
          <div class="col-md-12"> 
            
            <div class="panel">
              <div class="panel-body">       
                <div style="text-align: center;">
                  <circle-progress *ngIf="loader"
                  [percent]="85"
                  [radius]="100"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
              <!--/stories-->
              
        
<div *ngIf="!loader">
  <div *ngFor='let i of books' class="row">   
         
    <br>
    <div class="col-md-2 col-sm-3 text-center">
        
      <a class="story-title" href="#"><img alt="" [src] = 'i.img' style="width:100px;height:100px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3>{{i.title}}</h3>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default">{{i.author}}</span></h4><h4>
          <small style="font-family:courier,'new courier';" class="text-muted">{{i.genre}}  •
             <a (click)="SingleBook(i)" class="text-muted" style="cursor: pointer;">Read More</a></small>
          </h4></div>
        <div class="col-xs-3"></div>
      </div>
      <br><br>
      <hr>
    </div>
   
  </div>
</div>
              <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
              <br><br>
              
            
              
              <!--/stories-->
       
            </div>
          </div>
        </div>
      </div>
    </div>

  
  
  
