
            
     <div id="masthead">  
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>{{title}}
                <p class="lead"></p>
              </h1>
            </div>
            <div class="col-md-5">
              <div class="well well-lg"> 
                <div class="row">
                  <div class="col-sm-12">
                    
            
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div><!-- /cont -->
        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="top-spacer"> </div>
            </div>
          </div> 
        </div><!-- /cont -->
        
      </div>
      
      
      <div class="container">
        <div class="row">
          
          <div class="col-md-12"> 
            
            <div class="panel">
              <div class="panel-body">       
              
              <!--/stories-->
             
              <div class="row">    
                <br>
                <div class="col-md-5 col-sm-3 text-center">
                  <!-- <a class="story-title" href="#"> -->
                    <br><br><br><br>
                    <h3>Already have an account?<br>Login</h3>
                  <!-- </a>     -->
                </div>
                <div class="col-md-4 col-sm-9">
                    <form action="" (ngSubmit)='f.form.valid && newUser()' #f='ngForm' name="form" method="POST">
                        <label for="">UserName</label>
                        <input class="form-control" type="text" 
                        [(ngModel)]="signupData.Name" name="UserName"
                         #UserName='ngModel' [ngClass]="{'is-invalid':f.submitted && UserName.invalid}" 
                          required>
                         <div *ngIf="f.submitted && UserName.invalid" class="errors">
                           <div *ngIf="UserName.errors.required">
                            UserName is required
                           </div>
                         </div>

                        <label for="">Phone Number</label>
                        <input class="form-control" type="text"
                         [(ngModel)]="signupData.PhNumber" name="PhNumber"
                         #PhNumber='ngModel' [ngClass]="{'is-invalid':f.submitted && PhNumber.invalid}"
                          required pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})">
                         <div *ngIf="f.submitted && PhNumber.invalid" class="errors">
                          <div *ngIf="PhNumber.errors.required">
                            PhNumber is required
                          </div>
                          <div *ngIf="PhNumber.errors.pattern">
                            Please Enter a valid phone number
                          </div>
                        </div>

                        <label for="">Email</label>
                        <input class="form-control" type="email" 
                        [(ngModel)]="signupData.Email" name="Email" 
                        #Email='ngModel' [ngClass]="{'is-invalid':f.submitted && Email.invalid}"
                         required pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}">
                        <div *ngIf="f.submitted && Email.invalid" class="errors">
                          <div *ngIf="Email.errors.required">
                            Email is required
                          </div>
                          <div *ngIf="Email.errors.pattern">
                           Please enter a valid email
                          </div>
                        </div>
                        
                        <label for="">Password</label>
                        <input class="form-control" type="password"
                         [(ngModel)]="signupData.Password" name="Password"
                         #Password='ngModel' [ngClass]="{'is-invalid':f.submitted && Password.invalid}"
                           required minlength="6">
                          <div *ngIf="f.submitted && Password.invalid" class="errors">
                            <div *ngIf="Password.errors.required">
                              Password is required
                            </div>
                            <div *ngIf="Password.errors.minlength">
                              Password must be 6 characters long
                            </div>
                          </div>

                        <label for="">Retype Password</label>
                        <input class="form-control" type="password"
                        #Password2='ngModel' [ngClass]="{'is-invalid':f.submitted && Password2.invalid}"
                         name="Password2" [(ngModel)]="signupData.Password2"
                         id="" required appConfirmEqualValidator='Password'>
                         <div *ngIf="f.submitted && Password2.invalid" class="errors">
                          <div *ngIf="Password2.errors.required">
                            Please retype password
                          </div>
                          <div *ngIf="Password2.errors.notEqual && !Password2.errors.required">
                            Passwords must be same 
                          </div>
                        </div>
                         <br>

                        <button class="btn btn-primary" type="submit">SIGNUP</button>
                    </form>

                  <br>
                </div>
              </div>
              <hr>
              <!--/stories-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
        document.getElementById('inputImage').addEventListener('change', function(){
          let file = document.getElementById('inputImage').files;
          let fileReader = new FileReader();
          fileReader.readAsDataURL(file[0])
          fileReader.onload=function(){
            let ImageURL=fileReader.result;
            $(document).ready(function(){
              $('#preview').attr("src",`${ImageURL}`);
            })
          }
        })
      </script> -->
  
  
  

